* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(24, 24, 24);
}
a {
  color: #fafafa;
  text-decoration: none;
}
.loading {
  color: #fafafa;
  text-align: center;
  font-size: 40px;
  background-color: rgb(24, 24, 24);
}
.full-loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 3rem;
  color: #fafafa;
}
.full-loading h1 {
  display: flex;
  align-items: center;
}
.load {
  animation: load 500ms infinite;
}
@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Nav*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(black, black, transparent);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
.navl {
  display: none;
}
.navs {
  display: flex;
}
.navleft {
  display: flex;
  align-items: center;
}
.navleft input {
  display: none;
}
.searchm span {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.nav h3 {
  font-size: 2rem;
  margin-right: 15px;
}
.search {
  display: none;
  align-items: center;
  width: 20%;
  justify-content: stretch;
  height: 35px;
  border: 1px solid rgb(255, 183, 0);
  border-radius: 20px;
}
.search span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 20px;
  color: #ffb700;
  border-radius: 20px 0 0 20px;
  height: 100%;
  border-right: 1px solid rgb(71, 71, 71);
  transition: background-color 600ms;
}
.search span:hover {
  color: black;
  background-color: #ffb700;
}
.search input {
  width: 80%;
  height: 100%;
  background: transparent;
  border: none;
  color: rgb(255, 183, 0);
  padding: 5px;
}
.search input:focus {
  outline: none;
}
.nav nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  color: #fafafa;
  height: 100%;
  align-items: center;
}
.nav h1 {
  color: #ffb700;
  font-size: 2em;
  font-weight: 600;
  margin-left: 10px;
}
.menu {
  display: none;
  gap: 50px;
  list-style: none;
  font-weight: 550;
}
.menu li {
  display: flex;
  align-items: center;
  transition: border 600ms;
}
.drop-down {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  top: 80px;
  height: 0;
  list-style: none;
  background-color: rgb(34, 28, 18);
  overflow-y: hidden;
  transition: height 500ms;
}
.drop-down li {
  padding: 10px;
  font-weight: 550;
}
.nav button {
  margin-right: 10px;
  width: 120px;
  height: 35px;
  font-size: 16px;
  font-weight: 600;
  color: #fafafa;
  display: none;
  background-color: rgb(255, 183, 0);
  border: none;
}
#msearch {
  display: flex;
  align-items: center;
  height: 0;
  flex-direction: row;
}
#msearch input {
  width: 90%;
  height: 30px;
  background-color: transparent;
  border: 1px solid #ffb700;
  padding: 5px;
  font-size: 20px;
  color: #fafafa;
  margin-right: 5px;
}
#msearch input:focus {
  outline: none;
}
#msearch span {
  font-size: 30px;
  width: 10%;
  margin-left: 5px;
}

/*header*/
.header {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(114, 113, 112);
  background-blend-mode: multiply;
}
.header-con {
  width: 100%;
  max-width: 1200px;
  color: #fafafa;
}
.header-con div {
  margin-top: 80px;
  margin-left: 15px;
}
.header-con span {
  display: flex;
  gap: 10px;
}
.header-con button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  background-color: rgb(255, 183, 0);
  border: 2px solid rgb(255, 183, 0);
  transition: background-color 0.5s;
}
.header-con button:hover {
  background-color: transparent;
  color: rgb(255, 183, 0);
}
.header-con h1 {
  font-size: 1.5rem;
  width: 90%;
  cursor: pointer;
}
.disclaimer {
  font-weight: 600;
  width: 80%;
  font-size: 16px;
}
/*All movie*/
.movies {
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
}
.movies-con {
  width: 100%;
  max-width: 1200px;
}
.movies-con div {
  color: #fafafa;
  margin-top: 50px;
  height: 50px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  width: 75%;
  border-bottom: 4px solid rgb(255, 183, 0);
}
.movies-con section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.movies-con article {
  width: 40%;
  color: #fafafa;
  margin-top: 20px;
  cursor: pointer;
  background-color: black;
}
.movies-con span {
  width: 100%;
  display: block;
}
.header-con article:hover {
  text-decoration: underline;
}
.movies-con article p {
  padding: 10px;
  font-weight: 600;
}
.movies-con img {
  width: 100%;
}
/*single movie*/
.single-movie {
  display: flex;
  justify-content: center;
}
.single-con {
  width: 100%;
  max-width: 1200px;
  margin-top: 100px;
  color: #fafafa;
  display: flex;
}
.synopsis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.synopsis div {
  width: 90%;
}
.synopsis span {
  width: 80%;
  display: block;
}
.synopsis img {
  width: 100%;
  height: auto;
}
.download-btn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}
.btn {
  width: 100%;
}
.download-btn p {
  font-weight: 500;
  padding: 5px;
}
.download-btn button {
  width: 100px;
  height: 35px;
  border: 2px solid rgb(255, 183, 0);
  font-weight: 650;
  background-color: #ffb700;
  color: #fafafa;
  transition: background-color 0.5s;
}
.download-btn button:hover {
  background-color: transparent;
}

@media (min-width: 800px) {
  .navs {
    display: none;
  }
  .navl {
    display: flex;
  }
  .search {
    display: flex;
  }
  .nav h3 {
    display: none;
  }
  .menu {
    display: flex;
  }
  .nav button {
    display: block;
  }
  .nav h1 {
    font-size: 2.5em;
  }
  .header {
    height: 100vh;
  }
  .header-con h1 {
    font-size: 3em;
    width: 50%;
  }
  .header-con button {
    width: 130px;
    height: 40px;
  }
  .movies-con div {
    width: 40%;
  }
  .disclaimer {
    width: 40%;
  }
  .movies-con section {
    flex-direction: row;
  }
  .movies-con article {
    width: 20%;
    height: 400px;
  }
  .movies-con span {
    height: 75%;
  }
  .movies-con img {
    height: 100%;
    object-fit: cover;
  }
  .synopsis {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .synopsis div {
    width: 40%;
  }
  .synopsis span {
    width: 30%;
    display: block;
  }
}
